body{
	background:#EAF2E3;
}
.col-12{
	align-content: center;
	text-align: center;
}
.form{
	
	border:solid 1px black;
	border-radius: 10px;
	margin: auto;
	padding: 1em 0;
}
label{
	display: block;
}
input{

	border-radius: 8px;
	width: 15em;
}
.hide{
	display: none;
}
img{
	display: block;
	max-width: 80%;
}