body{
	background:#EAF2E3;
}
/*estilo de pagina de inicio(sign in)*/
#templatelogin img{
	display: block;
	max-width: 100%;
}
.templatelogin{
	align-content: center;
	text-align: center;
}
input{
	border-radius: 8px;
	width: 15em;
}
.error {
	display: none;
}
/*estilo de home*/
.container{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto; 
}
header#home{
	height: 100px;
	background-color: #F4F1BB;
	color: white;
	position: relative;
}
header#home::after{
	content: '';
	clear: both;
	display: block;

}

.site-nav{
	top: 100%;
	right: 0;
	position: absolute;
	background-color: #ff637d;
	clip-path: circle(0px at top right);
	transition: clip-path ease-in-out 700ms;
}
.site-nav-open{
	clip-path: circle(150% at top right);
}
.site-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;

}
.site-nav li{
	border-bottom: 1px solid #f4f1bb;

}
.site-nav li:last-child{
	border-bottom: none;
}
.site-nav a{
	text-align: center;
	color: #eaf2e3;
	display: block;
	padding: 1em 4em;
	text-transform: uppercase;
	text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus{
	background: #66d7d1;
	color: #ff637d;

}
.menu-toggle{
	margin-top: 1.4em;
	padding: 1em;
	position: absolute;
	top:0.5em;
	right: 0.5em;
}
.menu-open .hamburger{
	transform: rotate(45deg);

}
.menu-open .hamburger::before{
	opacity: 0;

}
.menu-open .hamburger::after{
	transform: translateY(-3px) rotate(-90deg);

}
.hamburger,
.hamburger::before,
.hamburger::after{
	content: '';
	display: block;
	background: #ff637d;
	height: 3px;
	width: 1.75em;
	border-radius: 3px;
	transition: all ease-in-out 500ms;

}
.hamburger::before{
	transform: translateY(-6px);

}
.hamburger::after{
	transform: translateY(3px);
}
@media (min-width: 700px){
	header{
		height: auto;
	}
	.menu-toggle{
		display: none;

	}
	.site-nav{
		height: auto;
		position: relative;
		background: transparent;
		float: right;
		margin-right: 10px;
		clip-path: initial;
	}
	.site-nav li{
		display: inline-block;
		border:none;
	}
	.site-nav a{
		margin-top: 3.5em;
		color:#66d7d1;
		font-size: 13px;
		padding: 0;
		margin-left: 1em; 
	}
	.site-nav a:hover,
	.site-nav a:focus{
		background: transparent;

	}
}
#home img{
	max-width: 70%;
	margin-top: -15px;
	margin-left: -40px;
}