body{
	background: #EAF2E3;
}
.container{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto; 
}
header{
	height: 100px;
	background-color: #F4F1BB;
	color: white;
	position: relative;
}
header::after{
	content: '';
	clear: both;
	display: block;

}

.site-nav{
	top: 100%;
	right: 0;
	position: absolute;
	background-color: #ff637d;
	clip-path: circle(0px at top right);
	transition: clip-path ease-in-out 700ms;
	z-index: 1;
}
.site-nav-open{
	clip-path: circle(150% at top right);
}
.site-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;

}
.site-nav li{
	border-bottom: 1px solid #f4f1bb;

}
.site-nav li:last-child{
	border-bottom: none;
}
.site-nav a{
	text-align: center;
	color: #eaf2e3;
	display: block;
	padding: 1em 4em;
	text-transform: uppercase;
	text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus{
	background: #66d7d1;
	color: #ff637d;

}
.menu-toggle{
	margin-top: 1.4em;
	padding: 1em;
	position: absolute;
	top:0.5em;
	right: 0.5em;
}
.menu-open .hamburger{
	transform: rotate(45deg);

}
.menu-open .hamburger::before{
	opacity: 0;

}
.menu-open .hamburger::after{
	transform: translateY(-3px) rotate(-90deg);

}
.hamburger,
.hamburger::before,
.hamburger::after{
	content: '';
	display: block;
	background: #ff637d;
	height: 3px;
	width: 1.75em;
	border-radius: 3px;
	transition: all ease-in-out 500ms;

}
.hamburger::before{
	transform: translateY(-6px);

}
.hamburger::after{
	transform: translateY(3px);
}
@media (min-width: 700px){
	header{
		height: auto;
	}
	.menu-toggle{
		display: none;

	}
	.site-nav{
		height: auto;
		position: relative;
		background: transparent;
		float: right;
		margin-right: 10px;
		clip-path: initial;
	}
	.site-nav li{
		display: inline-block;
		border:none;
	}
	.site-nav a{
		margin-top: 3.5em;
		color:#66d7d1;
		font-size: 13px;
		padding: 0;
		margin-left: 1em; 
	}
	.site-nav a:hover,
	.site-nav a:focus{
		background: transparent;

	}
}
img{
	max-width: 70%;
	margin-top: -15px;
	margin-left: -40px;
}

/*perfil*/
.perfil img{
	display: block;
	
	float: left;
	margin-top: 0vh;
	margin-left:.5vw;
	border:1px solid #66d7d1;
	border-radius: 50%;
	max-width: 100%;
}
.perfil{
	position: relative;
}
@media (min-width: 700px){
	.perfil img{
		max-width: 100%;
	}
}
.perfil-info-string{
	color: #66d7d1;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	border: solid 1px #66d7d1;
	border-radius: 30px;
	padding: .5em;
	margin-bottom: 10px;

}
section#perfil{
	margin-top: 2vh;
}
 .fa-edit{
 	color:#66d7d1; 
 	font-size: 1rem;
	margin-left: 1rem;
	cursor: pointer;
}
.fa-camera{
	display: block;
	cursor: pointer;
	font-size: 1.5rem;
	color:#66d7d1;
	position: absolute;
	top:90px;
	left:90px;
}
@media (min-width: 700px){
	.fa-camera{
	font-size: 2rem;
	top:100px;
	left:130px;
}
}
